
.header {
 position: absolute;   
 background-color: rgb(65, 65, 65);
 height: 20vh;
 width: 100%;
 z-index: 4;
}

#left {
    position: absolute;
    background-color: rgb(214, 214, 214);
    height: 100%;
    width: 15vw;
    left: 0px;
    z-index: 2;
}
#right {
    position: absolute;
    background-color: rgb(214, 214, 214);
    height: 100%;
    width: 15vw;
    right: 0px;
    z-index: 3;
}
footer {
    height: 10%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0px;
    z-index: 1;

}
